
body{
    background: url(fondo.png);
    background-size: cover;
    background-attachment: fixed;
    margin: 0px;
    font-family: montserrat;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
nav{
    background: #0082e6;
    height: 80px;
    width: 100%;
}
label.logo{
    color:white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
display: inline-block;
line-height: 80px;
margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transition: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
.contenedor{
    width: 100% -15px;
    padding: 15px;
    padding-bottom: 0px;
}
.formulario{
    background: white;
    margin-top: 150px;
    padding: 3px;
}
h1{
    text-align: center;
    color: #162235;
    font-size: 40px;
}
input[type="text"],input[type="password"]{
font-size: 20px;
width: 70%;
padding: 10px;
border: none;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 2px solid grey;
    border-radius: 3%;
    width: 100%;
}
.icon{
    min-width: 50px;
    text-align: center;
    color: gainsboro;
}
.button{
    border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background: #162235;
    padding: 15px 22px;
    border-radius: 5px;
    cursor: pointer;
}
.button:hover{
background: cadetblue;
}
p{
    text-align: center;
}
.link{
    text-decoration: none;
    color: #162235;
    font-weight: 600;
}
.link:hover{
    color: cadetblue;
    background: none;
    text-decoration: none;
}

@media(min-width:768px){
    .formulario{
        margin:auto;
        width:500px;
        margin-top: 80px;
        border-radius: 2%;
    }
}
@media(max-width:767px){
    .formulario{
        margin-top: 100px;
        border-radius: 2%;
    }

}
@media(max-width:952px){
    label.logo{
    font-size: 30px;
    padding-left: 50px;
}
nav ul li a{
    font-size: 16px;
}
}
@media(max-width:858px){
    .checkbtn{
        display:block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
